In [14]:
# importando bibliotecas
import pandas as pd
import tweepy as tw
import os
import sqlalchemy

In [15]:
##  autenticação

consumer_key = 'SioEmKLuulolevVmvvRyV1Wk4'
consumer_secret = 'tY2oQApBhR65e24C2tYzTO5xPh07AOxKpMQoFlTjdm6RKyq8UE'
access_token = '1464259244329697280-X2NuRTazHuhykyaovJ9spZwo7Izqmc'
access_token_secret = 'yDnF02RRIszsBMmvf56Q0wC9DlFxeRHnDCqAPBdYcfsRm'
engine = sqlalchemy.create_engine('mysql+pymysql://root:Nebulosa@2022@localhost:3306/DATABASE_CRM')

In [116]:
# selecionando nome da linha com mais vendas no mês 12 de 2019
sqlQuery = """SELECT LINHA FROM `CONSOLIDADO_VENDAS_LINHA-ANO-MES` 
WHERE QTD_VENDA = 
(SELECT MAX(QTD_VENDA) FROM `CONSOLIDADO_VENDAS_LINHA-ANO-MES` 
WHERE ANO = 2019 AND MES = 12)
AND ANO = 2019 AND MES = 12"""
df_query = pd.read_sql_query(sqlQuery,engine)
linha = df_query['LINHA'].values[0]

In [117]:
# usando tweepy
auth = tw.OAuthHandler(consumer_key, consumer_secret)
auth.set_access_token(access_token, access_token_secret)
api = tw.API(auth)

In [118]:
# buscando palavras
query = "boticário","solar"

# Collect tweets
cursor_tweet = tw.Cursor(api.search_tweets,q=query,lang='pt',tweet_mode="extended",result_type='recent').items(20)

In [119]:
# criando dicionario
tweets_dict = {}
tweets_dict = tweets_dict.fromkeys(['created_at',  'full_text', 'user','id'])
list_dict = []

In [120]:
# Executando cursor
for tweet in cursor_tweet:
    for key in tweets_dict.keys():
        created_at = tweet._json['created_at']
        user = tweet._json['user']['screen_name']
        full_text = tweet._json['full_text']
        id = tweet._json['id']
        data = {"created_at": created_at, "user": user, "full_text": full_text,"id": id }
        list_dict.append(data)

In [121]:
# criando dataframe
df = pd.DataFrame(list_dict)
df = df.drop_duplicates()

# inserindo na tabela

In [124]:
df

,created_at,user,full_text,id
0,Mon Nov 29 20:21:20 +0000 2021,ViniciusRSilva8,linha solar da Boticário é ótima!!,1465415604425404429
4,Mon Nov 22 17:46:50 +0000 2021,ssobmartins,"Porra, nunca mais compro nd por revista, fui c...",1462840006763073545

In [135]:
df.to_sql(
    name = 'TWEETS',
    con = engine,
    if_exists ='append'
)