In [2]:
# importando bibliotecas
from TwitterSearch import *
import pandas as pd
import os, json
import sqlalchemy

In [3]:
##  autenticação

consumer_key = 'SioEmKLuulolevVmvvRyV1Wk4'
consumer_secret = 'tY2oQApBhR65e24C2tYzTO5xPh07AOxKpMQoFlTjdm6RKyq8UE'
access_token = '1464259244329697280-X2NuRTazHuhykyaovJ9spZwo7Izqmc'
access_token_secret = 'yDnF02RRIszsBMmvf56Q0wC9DlFxeRHnDCqAPBdYcfsRm'
engine = sqlalchemy.create_engine('mysql+pymysql://root:Nebulosa@2022@localhost:3306/DATABASE_CRM')

In [4]:
# selecionando nome da linha com mais vendas no mês 12 de 2019
sqlQuery = """SELECT MAX(LINHA) as LINHA FROM `CONSOLIDADO_VENDAS_LINHA-ANO-MES` WHERE ANO = 2019 AND MES = 12"""
df_query = pd.read_sql_query(sqlQuery,engine)
linha = df_query['LINHA'].values[0]

In [5]:
# criando contador e lista de dicionario
contador = 0
list_dict = []

In [6]:
# usando TwitterSearch

try:

    ts = TwitterSearch(
            consumer_key = consumer_key,
            consumer_secret = consumer_secret,
            access_token = access_token,
            access_token_secret = access_token_secret
        )
    
    tso = TwitterSearchOrder()
    tso.set_keywords(['boticario',linha])
    tso.set_language('pt')
    tso.arguments.update({'tweet_mode':'extended'})
    tso.set_count(50)

    for tweet in ts.search_tweets_iterable(tso):
        print((tweet['user']['screen_name'], tweet['full_text'],tweet['created_at']))
        created_at = tweet['created_at']
        user = tweet['user']['screen_name']
        full_text = tweet['full_text']
        data = {"created_at" :created_at,"user": user,"full_text":full_text}
        list_dict.append(data)
        contador = contador + 1                       
        if contador == 50:
            break

except TwitterSearchException as e: # take care of all those ugly errors if there are some
        print(e)

('ssobmartins', 'Porra, nunca mais compro nd por revista, fui comprar um protetor solar/ base da O Boticário, cor na revista certinha, chegou bgl super claro na minha pele. R$ 107,00 a porra q odiooooooooo', 'Mon Nov 22 17:46:50 +0000 2021')

In [7]:
# criando dataframe
df = pd.DataFrame(list_dict)

In [8]:
df

,created_at,user,full_text
0,Mon Nov 22 17:46:50 +0000 2021,ssobmartins,"Porra, nunca mais compro nd por revista, fui c..."

In [ ]:
df.to_sql(
    name = 'TWEETS',
    con = engine,
    index = False,
    if_exists ='append'
)